<div class="admin">


    <div class="sidenav">
        <a href="/dashboard-admin" class="active" >Dashboard</a>
        <a href="/payment-admin" >Payment</a>
        <a href="/createRoom-admin">Create Room</a>



        <a href=""> <div class="navbtn">
            <img src="/images/user-2.png" alt="">
            <div class="d-flex justify-content-center">
                <label for="">ADMIN</label>
            </div>
            <a href=""><button class="bttn btn btn-danger" type="button">Log Out</button></a>
        </div>
        </a>

        <div class="">
            <a href=""><button class="bttn btn btn-success" type="button">New User</button></a>
        </div>
    </div>


    <div class="dashboard col-12 col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">

     <form method="post" id="customer-form" action="/customer/customer-details" class="customer-form">

       <div class="container cust d-flex col-12 col-sm-12 col-md-12 col-lg-12">

           <div class="custleft  col-12 col-sm-12 col-md-6">

               <input style="display: none" type="text" class="form-control" name="id" value="{{data._id}}">

               <div class="d-flex custfld col-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="cstname">Name</label>
                   </div>
                   <div>
                       <input type="text" id="cstname" value="" name="cstname">
                   </div>


               </div>

               <div class="d-flex custfld col-sm-12 col-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="mobile">Mobile</label>
                   </div>
                   <div>
                       <input type="text" value="" id="mobile" name="mobile">
                   </div>


               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="email">E-Mail</label>
                   </div>
                   <div>
                       <input type="email" value="" id="email" name="email">
                   </div>


               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="streetAddress">Street Address</label>
                   </div>
                   <div>
                       <input type="text" value="" id="streetAddress" name="streetAddress">
                   </div>


               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="landmark">Landmark</label>
                   </div>
                   <div>
                       <input type="text" value="" id="landmark" name="landmark">
                   </div>


               </div>

               <div class="d-flex custfld  col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="city">City</label>
                   </div>
                   <div>
                       <input type="text" value="" id="city" name="city">
                   </div>


               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="state">State</label>
                   </div>
                   <div>
                       <input type="text" value="" id="state" name="state">
                   </div>


               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="country">Country</label>
                   </div>
                   <div>
                       <input type="text" value="" id="country" name="country">
                   </div>


               </div>

           </div>



           <div class="custleft  col-12 col-sm-12 col-md-6 ">


               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="roomno">Room No</label>
                   </div>
                   <input type="text" value="{{data.roomno}}" name="roomno" readonly class="font-weight-bolder text-center">

               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="persons">Persons</label>
                   </div>
                   <input type="text" value="{{data.persons}}" name="persons" readonly class="font-weight-bolder text-center" >

               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   {{#if Ac}}
                   <div class="col-6 col-md-6">
                       <label for="">AC/Non AC <b>:</b></label>
                   </div>
                   AC<input type="radio" name="ac" class="radiobtn" value="AC" checked>
                   Non AC<input type="radio" name="ac" class="radiobtn" value="Non AC" disabled>
                   {{else}}
                       <div class="col-6 col-md-6">
                           <label for="">AC/Non AC <b>:</b></label>
                       </div>
                       AC<input type="radio" name="ac" class="radiobtn" value="AC" disabled>
                       Non AC<input type="radio" name="ac" class="radiobtn" value="Non AC" checked >
                   {{/if}}

               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">
                   <div class="col-6 col-md-6">
                       <label for="checkInDate">Check In</label>
                   </div>
                   <input type="date" name="checkInDate" id="checkInDate" onchange="cal()">
               </div>


               <div class="d-flex custfld col-12 col-sm-12 col-md-12">
                   <div class="col-6 col-md-6">
                       <label for="checkOutDate">Check Out</label>
                   </div>
                   <input type="date" name="checkOutDate" id="checkOutDate" onchange="cal()">
               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="rent">Rent</label>
                   </div>
                   <input type="hidden" id="rentDash" value="{{data.rent}}" onchange="cal()">
                   <input type="number" name="rent" id="rent" value="" readonly class="font-weight-bolder text-center">

               </div>

               <div class="d-flex custfld col-12 col-sm-12 col-md-12">

                   <div class="col-6 col-md-6">
                       <label for="advance">Advance</label>
                   </div>
                   <input type="number" name="advance">

               </div>


               <div class="d-flex col-8 col-sm-8 col-md-10 col-lg-10">

                   <div class="col-12 col-md-6 col-lg-6">

                       <a href="/dashboard-admin"><button type="button" class="checkinbtn btn btn-info">Cancel</button></a>

                   </div>

                   <div class="col-12 col-md-6 col-lg-6">

                       <button type="submit" class="checkinbtn btn btn-warning">Check In</button>

                   </div>


               </div>

           </div>

<!--           <div  class="col-4 col-md-4 col-lg-4 d-flex align-items-center">-->
<!--           </div>-->

       </div>
     </form>
    </div>

</div>